@import 'tailwindcss';

@theme {
  --color-*: initial;
  --color-primary: #04366a;
  --color-blue: #011223;
  --color-lightblue: #0085ff;
  --color-white: #ffffff;
  --color-red: #520017;
  --color-black: #000000;
  --color-green: #58bd7d;
  --color-orange: #ff6838;

  --color-primary-shade-1: #04366a;
  --color-primary-shade-2: #043263;
  --color-primary-shade-3: #032f5c;
  --color-primary-shade-4: #032b55;
  --color-primary-shade-5: #03284e;
  --color-primary-shade-6: #032447;
  --color-primary-shade-7: #022040;
  --color-primary-shade-8: #021d39;
  --color-primary-shade-9: #021931;
  --color-primary-shade-10: #02162a;
  --color-primary-shade-11: #011223;
  --color-primary-shade-12: #010e1c;
  --color-primary-shade-13: #010b15;
  --color-primary-shade-14: #01070e;
  --color-primary-shade-15: #000407;

  --color-primary-tint-1: #04366a;
  --color-primary-tint-2: #054384;
  --color-primary-tint-3: #06509d;
  --color-primary-tint-4: #075db7;
  --color-primary-tint-5: #086ad1;
  --color-primary-tint-6: #0977ea;
  --color-primary-tint-7: #1885f6;
  --color-primary-tint-8: #4ba0f8;
  --color-primary-tint-10: #65aef9;
  --color-primary-tint-11: #7fbbfa;
  --color-primary-tint-12: #98c9fb;
  --color-primary-tint-13: #b2d6fc;
  --color-primary-tint-14: #cce4fd;
  --color-primary-tint-15: #e5f1fe;

  --color-white-shade-1: #ffffff;
  --color-white-shade-2: #fafafa;
  --color-white-shade-3: #f2f2f2;
  --color-white-shade-4: #e6e6e6;
  --color-white-shade-5: #d9d9d9;
  --color-white-shade-6: #cccccc;
  --color-white-shade-7: #bfbfbf;
  --color-white-shade-8: #b3b3b3;
  --color-white-shade-9: #a6a6a6;
  --color-white-shade-10: #999999;
  --color-white-shade-11: #8c8c8c;
  --color-white-shade-12: #808080;
  --color-white-shade-13: #737373;
  --color-white-shade-14: #666666;
  --color-white-shade-15: #595959;
  --color-white-shade-16: #4c4c4c;
  --color-white-shade-17: #404040;
  --color-white-shade-18: #333333;
  --color-white-shade-19: #262626;
  --color-white-shade-20: #191919;
  --color-white-shade-21: #0d0d0d;

  --font-opensans: var(--font-opensans);
  --font-outfit: var(--font-outfit);
  --font-vazirmatn: var(--font-vazirmatn);

  --shadow-drop-shadow: 46px 23px 73px 0px rgba(0, 0, 0, 0.05);
  --shadow-drop-2: 0px 4px 29px 0px rgba(0, 0, 0, 0.15);
  --shadow-soft-shadow: 0px 119px 130px 0px rgba(0, 0, 0, 0.03);
  --shadow-card: 101px 66px 141px 0px rgba(0, 0, 0, 0.12);

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @media (width >= theme(--breakpoint-sm)) {
    padding-inline: 1.5rem;
  }
  @media (width >= theme(--breakpoint-lg)) {
    padding-inline: 1.5rem;
  }
  @media (width >= theme(--breakpoint-xl)) {
    padding-inline: 1.5rem;
  }
  @media (width >= theme(--breakpoint-2xl)) {
    padding-inline: 1.5rem;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

*{
  text-rendering: geometricPrecision;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 256, 256, 256;
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  overflow-x: hidden !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}

Link:active {
  color: blue !important;
}

.jc {
  @apply justify-center
}

.jb {
  @apply justify-between
}


.ic {
  @apply items-center
}

.navigation li {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  transition:all .1s ease-in-out;
}

.navigation li.active {
  color: #111;
  border-bottom: 3px solid black;
}

.navigation li.normal {
  border-bottom: none;
}



.navigation li:hover {
  color: #111;
  border-bottom: 3px solid black;
}


.visuallyHidden {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

.hamburger {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 4px;
  background-color: rgb(0, 0, 0);
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute; 
}

.bar1 {
  top: 0;
  
}

.bar2,
.bar3 {
  top: 13.5px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.menu:checked + label > .hamburger-inner > .bar1{
  transform: rotate(45deg);
  transform-origin: 5%;
  width: 41px
}

.menu:checked + label > .hamburger-inner > .bar2 {
  transform: translateX(-40px);
  background-color: transparent;
}

.menu:checked + label > .hamburger-inner > .bar3 {
  transform: translateX(40px);
  background-color: transparent;
}

.menu:checked + label > .hamburger-inner > .bar4 {
  transform-origin: 5%;
  transform: rotate(-45deg);
  width: 41px;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}
.no-scroll{
  scrollbar-width: none;
}
.bordered{
  border: 1px solid #E6E6E6;
}
.contact{
  display: hidden;
}
@media only screen and (min-width:900px){
  .contact{
    position: relative;
  }
  .contact::before{
    content: "";
    position: absolute;
    top: 450px;
    width:830px;
    height: 400px;
    background-color:#FAFAFA;
    z-index: -1;
    border-radius: 25px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #f2f2f2 inset !important;
}


Link:hover , button:hover {
    cursor: pointer;
}

.deep-shadow {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.03), 0px 23px 51px 0px rgba(0, 0, 0, 0.03), 0px 92px 92px 0px rgba(0, 0, 0, 0.03), 0px 207px 124px 0px rgba(0, 0, 0, 0.02), 0px 367px 147px 0px rgba(0, 0, 0, 0.00), 0px 574px 161px 0px rgba(0, 0, 0, 0.00);
}


/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F2F2F2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #011223;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #011223;
}


.btn-flashing-animation {
  border: 0;
  cursor: pointer;
  background: -moz-linear-gradient(
    -45deg,
    #011223 0%,
    #011223 40%,
    #ffffff 50%,
    #011223 60%,
    #011223 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #011223),
    color-stop(40%, #011223),
    color-stop(50%, #ffffff),
    color-stop(60%, #011223),
    color-stop(100%, #011223)
  );
  background: -webkit-linear-gradient(
    -45deg,
    #011223 0%,
    #011223 40%,
    #ffffff 50%,
    #011223 60%,
    #011223 100%
  );
  background: -o-linear-gradient(
    -45deg,
    #011223 0%,
    #ff6e00 40%,
    #ffffff 50%,
    #011223 60%,
    #011223 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    #011223 0%,
    #011223 40%,
    #ffffff 50%,
    #011223 60%,
    #011223 100%
  );
  background: linear-gradient(
    135deg,
    #011223 0%,
    #011223 40%,
    #ffffff 50%,
    #011223 60%,
    #011223 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#011223', endColorstr='#011223',GradientType=1 );
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: 300%;
}
.btn-flashing-animation {
  animation: light 1s;
  -webkit-animation: light 1s;
}

.lablel-flashing-animation {
  border: 0;
  cursor: pointer;
  background: -moz-linear-gradient(
    -45deg,
    #0d4f94 0%,
    #0d4f94 40%,
    #ffffff 50%,
    #0d4f94 60%,
    #0d4f94 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #0d4f94),
    color-stop(40%, #0d4f94),
    color-stop(50%, #ffffff),
    color-stop(60%, #0d4f94),
    color-stop(100%, #0d4f94)
  );
  background: -webkit-linear-gradient(
    -45deg,
    #0d4f94 0%,
    #0d4f94 40%,
    #ffffff 50%,
    #0d4f94 60%,
    #0d4f94 100%
  );
  background: -o-linear-gradient(
    -45deg,
    #0d4f94 0%,
    #1964b4 40%,
    #ffffff 50%,
    #0d4f94 60%,
    #0d4f94 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    #0d4f94 0%,
    #0d4f94 40%,
    #ffffff 50%,
    #0d4f94 60%,
    #0d4f94 100%
  );
  background: linear-gradient(
    135deg,
    #0d4f94 0%,
    #0d4f94 40%,
    #ffffff 50%,
    #0d4f94 60%,
    #0d4f94 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0D4F94', endColorstr='#0D4F94',GradientType=1 );
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: 300%;
}
.lablel-flashing-animation {
  animation: light 1s;
  -webkit-animation: light 1s;
  animation-delay: 3s;
  /* animation-iteration-count: infinite; */
  animation-timing-function: ease-in-out;
}

.lablel-flashing-animation-hover {
  border: 0;
  cursor: pointer;
  background: -moz-linear-gradient(
    -45deg,
    #0d4f94 0%,
    #0d4f94 40%,
    #ffffff 50%,
    #0d4f94 60%,
    #0d4f94 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #0d4f94),
    color-stop(40%, #0d4f94),
    color-stop(50%, #ffffff),
    color-stop(60%, #0d4f94),
    color-stop(100%, #0d4f94)
  );
  background: -webkit-linear-gradient(
    -45deg,
    #0d4f94 0%,
    #0d4f94 40%,
    #ffffff 50%,
    #0d4f94 60%,
    #0d4f94 100%
  );
  background: -o-linear-gradient(
    -45deg,
    #0d4f94 0%,
    #1964b4 40%,
    #ffffff 50%,
    #0d4f94 60%,
    #0d4f94 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    #0d4f94 0%,
    #0d4f94 40%,
    #ffffff 50%,
    #0d4f94 60%,
    #0d4f94 100%
  );
  background: linear-gradient(
    135deg,
    #0d4f94 0%,
    #0d4f94 40%,
    #ffffff 50%,
    #0d4f94 60%,
    #0d4f94 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0D4F94', endColorstr='#0D4F94',GradientType=1 );
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: 300%;
}
.lablel-flashing-animation-hov {
  animation: light 1s;
  -webkit-animation: light 1s;
}

@keyframes light {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

@-webkit-keyframes light {
  0% {
    background-position: 100%;
  }
  50% {
    background-position: 50%;
  }
  100% {
    background-position: 0%;
  }
}


nextjs-portal {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #F2F2F2 inset;
  transition: background-color 5000s ease-in-out 0s;
}


.rhap_container{
  @apply bg-primary-shade-11!
}
.rhap_current-time , .rhap_total-time{
  @apply text-white!
}


.box {
    --r: 40px;  /* control the rounded part */
    --s: 60px;  /* control the size of the cut */
    --a: 32deg; /* control the depth of the curvature */
    --p: 50%;   /* control the position */ 
    
    --_m:var(--r),#000 calc(100% - 1px),#0000;
    --_d:(var(--s) + var(--r))*cos(var(--a));
    mask:
      radial-gradient(var(--r) at calc(var(--p) + var(--_d)) var(--_m)),
      radial-gradient(var(--r) at calc(var(--p) - var(--_d)) var(--_m)),
      radial-gradient(var(--s) at var(--p) calc(-1*sin(var(--a))*var(--s)),
        #0000 100%,#000 calc(100% + 1px)) 0 calc(var(--r)*(1 - sin(var(--a)))) no-repeat,
      linear-gradient(90deg,#000 calc(var(--p) - var(--_d)),#0000 0 calc(var(--p) + var(--_d)),#000 0);
  
}

.box2 {
  --r: 30px;
  --s: 35px;
  --a: 18deg;
  --p: 50%;   /* control the position */
 
  --_m:,#000 calc(100% - 1px),#0000;
  --_d:(var(--s) + var(--r))*cos(var(--a));
  mask:
    radial-gradient(var(--r) at var(--r) calc(var(--p) + var(--_d)) var(--_m)),
    radial-gradient(var(--r) at var(--r) calc(var(--p) - var(--_d)) var(--_m)),
    radial-gradient(var(--s) at calc(-1*sin(var(--a))*var(--s)) var(--p),
      #0000 100%,#000 calc(100% + 1px)) calc(var(--r)*(1 - sin(var(--a)))) 0 no-repeat,
    linear-gradient(#000 calc(var(--p) - var(--_d)),#0000 0 calc(var(--p) + var(--_d)),#000 0);
}



.box3 {
  --r: 40px;
  --s: 100px;
  --a: 24deg;
  --p: 17.5%;
  
  --_m:calc(100% - var(--r)),#000 calc(100% - 1px),#0000;
  --_d:(var(--s) + var(--r))*cos(var(--a));
  mask:
    radial-gradient(var(--r) at calc(var(--p) + var(--_d)) var(--_m)),
    radial-gradient(var(--r) at calc(var(--p) - var(--_d)) var(--_m)),
    radial-gradient(var(--s) at var(--p) calc(100% + sin(var(--a))*var(--s)),
      #0000 100%,#000 calc(100% + 1px)) 0 calc(var(--r)*(sin(var(--a)) - 1)) no-repeat,
    linear-gradient(90deg,#000 calc(var(--p) - var(--_d)),#0000 0 calc(var(--p) + var(--_d)),#000 0);
}
.box4 {
  --r: 40px;
  --s: 60px;
  --a: 25deg;
  --p: 50%;
  
  --_m:calc(100% - var(--r)),#000 calc(100% - 1px),#0000;
  --_d:(var(--s) + var(--r))*cos(var(--a));
  mask:
    radial-gradient(var(--r) at calc(var(--p) + var(--_d)) var(--_m)),
    radial-gradient(var(--r) at calc(var(--p) - var(--_d)) var(--_m)),
    radial-gradient(var(--s) at var(--p) calc(100% + sin(var(--a))*var(--s)),
      #0000 100%,#000 calc(100% + 1px)) 0 calc(var(--r)*(sin(var(--a)) - 1)) no-repeat,
    linear-gradient(90deg,#000 calc(var(--p) - var(--_d)),#0000 0 calc(var(--p) + var(--_d)),#000 0);
}

.planCardTop {
  --r: 8px;  /* control the rounded part */
  --s: 70px;  /* control the size of the cut */
  --a: 30deg; /* control the depth of the curvature */
  --p: 50%;   /* control the position */

  aspect-ratio: 3/2;
  border-radius: var(--r);
  --_m:var(--r),#000 calc(100% - 1px),#0000;
  --_d:(var(--s) + var(--r))*cos(var(--a));
  mask:
    radial-gradient(var(--r) at calc(var(--p) + var(--_d)) var(--_m)),
    radial-gradient(var(--r) at calc(var(--p) - var(--_d)) var(--_m)),
    radial-gradient(var(--s) at var(--p) calc(-1*sin(var(--a))*var(--s)),
      #0000 100%,#000 calc(100% + 1px)) 0 calc(var(--r)*(1 - sin(var(--a)))) no-repeat,
    linear-gradient(90deg,#000 calc(var(--p) - var(--_d)),#0000 0 calc(var(--p) + var(--_d)),#000 0);
}

.planCardbottom {
  --r: 20px;  /* control the rounded part */
  --s: 40px;  /* control the size of the cut */
  --a: 20deg; /* control the depth of the curvature */
  --p: 50%;   /* control the position */

  aspect-ratio: 3/2;
  border-radius: var(--r);
  --_m:calc(100% - var(--r)),#000 calc(100% - 1px),#0000;
  --_d:(var(--s) + var(--r))*cos(var(--a));
  mask:
    radial-gradient(var(--r) at calc(var(--p) + var(--_d)) var(--_m)),
    radial-gradient(var(--r) at calc(var(--p) - var(--_d)) var(--_m)),
    radial-gradient(var(--s) at var(--p) calc(100% + sin(var(--a))*var(--s)),
      #0000 100%,#000 calc(100% + 1px)) 0 calc(var(--r)*(sin(var(--a)) - 1)) no-repeat,
    linear-gradient(90deg,#000 calc(var(--p) - var(--_d)),#0000 0 calc(var(--p) + var(--_d)),#000 0);
}